<div class="inicio-container">
    <div class="texto-principal">
        <h1>Bienvenido a MyPiel</h1>

        <p>Tu centro personalizado de busqueda de productos,<br>
            autocuidado y atencion especializada.</p>
    </div>

    <div class="opciones-container">
        <div class="opcion">
            <h2>MyAutocuidado</h2>
            <p>Descubre productos recomendados para el cuidado de tu piel y sigue tus rutinas de cuidado.</p>
            <button routerLink="/myautocuidado" class="btn-opcion">Ir a MyAutocuidado</button>
        </div>

        <div class="opcion">
            <h2>MyDoc</h2>
            <p>Conecta con profesionales especializados para recibir asesoramiento experto.</p>
            <button routerLink="/mydoc" class="btn-opcion">Ir a MyDoc</button>
        </div>
    </div>

</div>