.panel-usuario {
    background: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 3px 40px rgba(0, 141, 177, 0.1);
    width: 80%;
    max-height: 250px;
    max-width: 300px;
    text-align: center;

    .botones-acceso {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem auto 0;
        max-width: 60%;
        align-items: center;

    }

    .btn-primary,
    .btn-secondary {
        padding: 0.75rem;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: 500;
        width: 200px;
        text-align: center;
    }

    .btn-primary {
        background-color: #008DB1;
        color: white;
        box-shadow: 0px 10px 10px #8da49952;

        &:hover {
            background-color: #009cc3;
            transition: background-color 0.5s ease;
        }
    }

    .btn-secondary {
        background-color: white;
        border: 2px solid #008DB1;
        color: #008DB1;

        &:hover {
            background-color: #00bae91d;
            transition: background-color 0.5s ease;
        }
    }

}


h2 {
    color: #008DB1;
}

p {
    color: #5d5d5d;
    font-size: 1rem;
}