<div class="autocuidado-container">
    <section class="seccion-superior">
        <div class="texto-superior">
            <h1>Bienvenido a MyAutocuidado</h1>
            <p>Busca productos dermatológicos y gestiona tu rutina de cuidado personalizada</p>
        </div>
        <div class="particion-superior">

            <div>
                <app-panel-usuario />
            </div>

            <div class="sección-derecha">
                <div class="barra-busqueda">
                    <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()"
                        placeholder="Busca por producto, marca o componente..." [minLength]="3">
                    <button class="btn-buscar" (click)="onSearch()">
                        Buscar
                    </button>
                </div>

                @if (errorMessage()) {
                <div class="error-message">{{ errorMessage() }}</div>
                }

                @if (products().length > 0) {
                <app-product-list [products]="products()" />
                }
            </div>
        </div>
    </section>
    <section class="seccion-inferior">
        <app-on-my-autocuidado />
    </section>
</div>