<div class="card-contenedor">
    <div class="card-login">
        <h1>Login</h1>
        <div class="textfield">
            <label for="correo-input">Correo</label>
            <input id="correo-input" type="email" name="correo" [(ngModel)]="apiLoginObj.correo"
                placeholder="correo@ejemplo.com">
        </div>
        <div class="textfield">
            <label for="password-input">Contraseña</label>
            <input id="password-input" type="password" name="password" [(ngModel)]="apiLoginObj.password"
                placeholder="Contraseña">
        </div>
        <button class="btn-login" (click)="onLogin()">Iniciar Sesión</button>
    </div>
</div>